*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    -webkit-app-region: drag;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-menu{
    height: 100vh;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(96,126,152);
    background: linear-gradient(0deg, rgb(99, 127, 152) 0%, rgba(8,61,105,1) 70%);
    -webkit-app-region : no-drag;
    position: fixed;
    left: 0;
    transform: translateX(-40px);
    transition: transform 0.3s ease-in-out;
}
.left-menu-on{
    height: 100vh;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(96,126,152);
    background: linear-gradient(0deg, rgb(99, 127, 152) 0%, rgba(8,61,105,1) 70%);
    -webkit-app-region : no-drag;
    position: fixed;
    left: 0;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
}
.icon-cross{
    position: absolute;
    top: 5px;
    color: white;
    opacity: 0.4;
}
.icon-cross:hover{
    opacity: 1;
}
.red{
    color: white;
}
.red:hover{
    color: red;
}
.yellow{
    color: white;
    margin: 20px 0 20px 0;
}
.yellow:hover{
    color: yellow;
}
.green{
    color: white;
}
.green:hover{
    color: green;
}
.icon-plus{
    position: absolute;
    bottom: 5px;
    color: white;
    opacity: 0.4;
}
.icon-plus:hover{
    opacity: 1;
}

.main-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(96,126,152);
    background: linear-gradient(0deg, rgb(99, 127, 152) 0%, rgba(8,61,105,1) 100%);
}
.main-block_title{
    height: 60px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: none;
    background-color: transparent;
}
.main-block_title:focus {
    outline: none;
}
.work-zone{
    height: 100vh;
}
